<% provide(:title, 'Help')%>
        <h1>Help Page</h1>
        <p>Get help with on the Ruby on Rails Tutorial at the <a href="http://railstutorial.org/help/">Rails Help Page </a></p>
        <p>This is the help on this app see 
  <a href="http://railstutorial.org/book">Ruby on Rails Tutorial</a>
  sample application</p>
